<!--
  Generated template for the TransactionNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nuova transazione</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	 <ion-input placeholder="Inserisci il nome" clearInput [(ngModel)]="name"></ion-input>
	 <ion-input type="number" placeholder="Inserisci il valore" clearInput [(ngModel)]="value"></ion-input>
	 <button 
	 	(click)="addTransiction();"
	 	[ngClass]="valid()?'enabled':'disabled'">AGGIUNGI</button>
</ion-content>
