page-transaction-new {
	button {
	    margin: 0 auto;
	    display: block;
	    padding: 10px 20px;
	    color: white;
	    background: black;
	    font-weight: 800;
	    &.disabled {
	    	pointer-events:none;
	    	color: #aaaaaa;
    		background: #00000038;
	    }
	}
}
