<!--
  Generated template for the TransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Transazioni</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-input placeholder="Cerca qui" clearInput [(ngModel)]="searchField" (ngModelChange)="calculateTotal()"></ion-input>
	<table>
		<tr>
			<th (click)="sortBy('date');">DATA</th>
			<th (click)="sortBy('name');">NOME</th>
			<th (click)="sortBy('value');">VALORE</th>
		</tr>
		<tr *ngFor="let transaction of transactions | orderBy: sorting | search : searchField" class="transactions"
		(click)="goTo(transaction.id);">
			<td>{{transaction.date_day}}</td>
			<td>{{transaction.name}}</td>
			<td class="alignRight" >{{transaction.value}}</td>
		</tr>
		<tr class="transactions">
			<td>Totale</td>
			<td>Totale</td>
			<td class="alignRight" >{{total}}</td>
		</tr>
	</table>
</ion-content>
