page-transactions {
	table {
		line-height: 20px;
		width: 100%;
		td,th {
			padding:10px;
		}
		th {
			background-color: black;
			color:white;
		}
		.alignRight {
			text-align: right;
		}
		tr.transactions:nth-child(even) {
			background-color: #e4e4e4;
		}
	}
}
