<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	 <ion-input placeholder="Inserisci utente" clearInput [(ngModel)]="user"></ion-input>
	 <ion-input type="password" placeholder="Inserisci password" clearInput [(ngModel)]="password"></ion-input>
	 <br><br>
	 <button (click)="login();">LOGIN</button>
</ion-content>
