<ion-header>
  <ion-navbar hideBackButton="{{hideButton}}">
    <ion-title>
      Sweet Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<p>Benvenuto</p>
	<p>Negli ultimi 30 giorni hai speso</p>
	<button (click)="goTo('tranactions');">Lista</button>
	<button (click)="goTo('transactionNew');">Nuova</button>
</ion-content>
