<!--
  Generated template for the TransactionDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	 <ion-input placeholder="Inserisci il nome" clearInput [(ngModel)]="name"></ion-input>
	 <ion-input type="number" placeholder="Inserisci il valore" clearInput [(ngModel)]="value"></ion-input>
	 <input type="date" [(ngModel)]="date">
	 <br><br>
	 <button 
	 	(click)="deleteTransaction();">CANCELLA</button>
	 <button 
	 	(click)="saveTransaction();">SALVA</button>
</ion-content>

<!--<ion-content padding>
HAI SPESO {{value}}
<br>
<button (click)="deleteTransaction();">CANCELLA</button>
<button (click)="test();">TEST</button>
</ion-content>-->
